<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> Profile </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Profile</ion-title>
      <ion-buttons slot="primary">
        <ion-button routerLink="/tabs/setting">
          <ion-icon slot="icon-only" name="pencil"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>

  <div class="container">
    <ion-item lines="full">
      <ion-label position="floating">First Name</ion-label>
      <ion-input
        type="text"
        readonly
        value="{{(user$ | async).firstName}}"
      ></ion-input>
    </ion-item>
    <ion-item lines="full">
      <ion-label position="floating">Last Name</ion-label>
      <ion-input
        type="text"
        readonly
        value="{{(user$ | async).lastName}}"
      ></ion-input>
    </ion-item>
    <ion-item lines="full">
      <ion-label position="floating">Email</ion-label>
      <ion-input
        type="text"
        readonly
        value="{{(user$ | async).email}}"
      ></ion-input>
    </ion-item>
    <ion-item lines="full">
      <ion-label position="floating">Day of Birth</ion-label>
      <ion-input
        type="text"
        readonly
        value="{{(user$ | async).dob}}"
      ></ion-input>
    </ion-item>
    <ion-item lines="full">
      <ion-label position="floating">Phone Number</ion-label>
      <ion-input
        type="text"
        readonly
        value="{{(user$ | async).phoneNum}}"
      ></ion-input>
    </ion-item>
    <ion-item lines="full">
      <ion-label position="floating">User Name</ion-label>
      <ion-input
        type="text"
        readonly
        value="{{(user$ | async).userName}}"
      ></ion-input>
    </ion-item>
  </div>
</ion-content>
